<a href="https://colab.research.google.com/github/oCt-raiN/My_colab/blob/main/Learnings/Python_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Use full links***

---



> https://www.geeksforgeeks.org/powerful-one-liner-python-codes/  
all one liners and easy logics usefull


```

```

In [39]:
#remainder
v = 23
c = 3
print("Quatient of {}".format(v//c))
print("Remainder of {}".format(v%c))
print("Power of {}".format(v**c))

Quatient of 7
Remainder of 2
Power of 12167

In [3]:
lis = list(map(int, input().split()))
lis

3 4 5 6 7

[3, 4, 5, 6, 7]

In [5]:
# Regulars

evenNumbers =[]
for x in range(11):
	if x % 2 == 0:
		evenNumbers.append(x)

print(evenNumbers)


# one liners
evenNum = [x for x in range(11) if x % 2 ==0]
print(evenNum)

[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]

In [9]:
# string
ss = "Aathi"
ss[::-1]

'ihtaA'

In [33]:
#list
a = [1,2,3,4,5,6]
a[-3:-2:]

[4]

In [42]:
import math as m

n = 5

print("factorial of {0} is = {1}".format(n,m.factorial(n)))

factorial of 5 is = 120

In [53]:
from itertools import combinations


# list of all subsets of
l= [1, 2, 3, 4,5,6]
# length r (r = 2 in this example)
subset =0
for i in range(1,len(l)+1):
  print(list(combinations(l, i)))
  subset += len(list(combinations(l, i)))
print("No. of subsets from list is {}".format(subset))

[(1,), (2,), (3,), (4,), (5,), (6,)]
[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 3), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6), (4, 5), (4, 6), (5, 6)]
[(1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 2, 6), (1, 3, 4), (1, 3, 5), (1, 3, 6), (1, 4, 5), (1, 4, 6), (1, 5, 6), (2, 3, 4), (2, 3, 5), (2, 3, 6), (2, 4, 5), (2, 4, 6), (2, 5, 6), (3, 4, 5), (3, 4, 6), (3, 5, 6), (4, 5, 6)]
[(1, 2, 3, 4), (1, 2, 3, 5), (1, 2, 3, 6), (1, 2, 4, 5), (1, 2, 4, 6), (1, 2, 5, 6), (1, 3, 4, 5), (1, 3, 4, 6), (1, 3, 5, 6), (1, 4, 5, 6), (2, 3, 4, 5), (2, 3, 4, 6), (2, 3, 5, 6), (2, 4, 5, 6), (3, 4, 5, 6)]
[(1, 2, 3, 4, 5), (1, 2, 3, 4, 6), (1, 2, 3, 5, 6), (1, 2, 4, 5, 6), (1, 3, 4, 5, 6), (2, 3, 4, 5, 6)]
[(1, 2, 3, 4, 5, 6)]
No. of subsets from list is 63

In [ ]:
from itertools import combinations


# list of all subsets of
l= [1, 2, 3, 4,5,6]
# length r (r = 2 in this example)
subset =0
for i in range(1,len(l)+1):
  print(list(combinations(l, i)))
  subset += len(list(combinations(l, i)))

print("No. of subsets from list is {}".format(subset))

In [59]:
time = 20
print("Yes") if time<18  else print("No")

No

In [63]:
# ASCII
ord("A")

65

In [66]:
# binnary value
a = 12

# Base 2(binary)
bin_a = bin(a)
print(bin_a)
print(int(bin_a, 2))

0b1100
12

In [68]:


# Python3 code to demonstrate working of
# Converting String to binary
# Using join() + ord() + format()

# initializing string
test_str = "Aathi"

# printing original string
print("The original string is : " + str(test_str))

# using join() + ord() + format()
# Converting String to binary
res = ''.join(format(ord(i), '08b') for i in test_str)

# printing result
print("The string after binary conversion : " + str(res))

The original string is : Aathi
The string after binary conversion : 0100000101100001011101000110100001101001